@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-brand-cream text-gray-800 font-poppins antialiased;
  }
}

/* Custom Scrollbar for nicer aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-brand-cream;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-brown/40 rounded-full hover:bg-brand-brown/60 transition-colors;
}
